@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.person1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 27%;
  }
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  background-color: #ffffff;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(.6);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
  height: 100%; 
  width: 100%; 
}
.circle {
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 100%;
  overflow: hidden;
}
.img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  object-fit: contain;
  transform-origin: 50% ;
}
.container:hover .img {
  transform: translateY(0) scale(1.5);
}

.divider {
  background-color: #ff0000;
  height: 1px;
  width: 160px;
}
.name {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}

