* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  body {
    background-color: black;
    z-index: 950;
  }

  .noise {
    background: url('../img/noise.png');
    background-size: cover;
    z-index: 900;
  }

  .nav-link.active {
    background-color: #444; /* El color de fondo iluminado */
    color: #fff; /* El color del texto iluminado */
  }
  
  input,
  textarea,
  button,
  select, img, span,
  a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
     outline: 0;
  }
  
  /*Fonts from external source*/
  @font-face {
    src: url(C:\Users\Home\AppData\Local\Temp\atom-118019-14536-1ea9572.rtm9ozuxr\league-spartan.zip\LeagueSpartan-Bold.otf);
    font-family: League Spartan;
  }
  /*Fonts from external source*/
  
  
  
/*Navigation Bar*/
  .logo {
    position: absolute;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 13px;
  }
  
  .logo h1 {
     font-family: Segoe UI, Helvetica, calibri, serif;
     color: #ffffff;
  }
  
  #menu {
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
    display: none;
  }
  
  #close {
     position: absolute;
     top: 17px;
     right: 20px;
     cursor: pointer;
     display: none;
  }
  
  nav ul {
    display: block;
    float: right;
    overflow: hidden;
    margin: 7px 0;
    margin-right: 10px;
  }
  
  nav ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 17px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 617px) {
    .logo {
      margin-top: 7px;
      position: relative;
      overflow: hidden;
      display: block;
      font-size: 14px;
    }
     .logo h1 {
        position: relative;
        margin-bottom: 10px;
     }
    nav {
      width: 100vw;
      height: 100vh;
      display: none;
    }
    nav ul {
      padding-top: 20px;
      display: block;
      width: 100%;
      margin: auto;
    }
    .nav-expanded {
      display: block;
    }
    nav ul li {
      float: none;
      border-bottom: 2px solid #D8D8D8;
    }
    nav ul li:last-child {
      border-bottom: none;
    }
    #menu {
      display: block;
    }
  }
/*Navigation Bar*/
 
/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #333;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  footer p {
    margin: 0;
  }

  /*Footer*/