.big{
    padding-top: 5%;
}

.search-container {
    display: flex;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#image-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow: hidden;
}

#image-results img {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

#image-results img:hover {
    transform: scale(2);
}

.demo-container {
    position: relative;
    height: auto;
    width: 95%;
}

.instructions {
    position: absolute;
    top: 5%;
    left: 0;
    width: 20%;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
}

#demo {
    position: absolute;
    top: 5%;
    left: 21%;
    width: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.br {
    flex: 1;
    color: #fff;
      padding: 30px;
  
  }